font-size: 50px;
     color: red;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{

     --cor-de-fundo:#000000;
     --cor-texto-principal:#ffe600;
     --cor-texto-secundari:#f0b000;
     --botao-ativo:#ff0000;
     --botao-inativo:#b3370a;
}


body{
     background: var(--cor-de-fundo);
     color: var(--cor-texto-principal);
     font-family: "Roboto", sans-serif;
}

.conteudo-principal{
     display:flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     max-width:1200px;
     width:100%;
     margin:0 auto;


}
.titulo-principal{
     text-align:left;
     width:100%;
     font-size:32px;


}
.titulo-principal span{
     color:#854747
}.botao{
    background-color: ver(--botao inativo);
    justify-content:center;
    padding: 1em;
    font-size:18px;
    align-items:center;
    width:100%;
    border-bottom:4px solid var(--botao-ativo);
    border-bottom:2px solid var(--botao-ativo);
    border-bottom:2px solid var(--botao-ativo);
    border-top: none ;
}
.botao:first-child{ border-radius: 40px 40px 0 0; } 
.botao:{ display:flex;@media screen and (min-width:768px) 
.botao{ border-radius: 40px 0 0 0;} 
.botao:last-child{ border-radius: 0 40px 0 0;} 
}
     


.aba-conteudo.ativo{
     display:block;
}
.aba-conteudo{
  display:none;
}

.abas-texto{
     background-color:var(--botao-inativo);
     padding: 40px;
     border-radius:0 0 40px 40px;
}




@media screen (min-width:768px)
     .botoes
      display:flex;
     
     .botao:first-child{
          border-radius:40px 0 0 0;
     }
     .botao:last-child{
          border-radius:0 40px 0 0;
     }
.conteudo-titulo-principla{
     text-align:center;
     color:var(--cor-texto-secundaria);
     text-transfrom:uppercase;
}
.contador{
     display:flex;
     justify-content:center;
     flex-wrap:wrap;
}
.contador-digito{
     padding:0 16px;
     text_align:center;
     min-width:100px;
}
.conteudo-titulo-segundario{
     text-align:center;
     color:var(--cor-texto-secundaria);
     text-transfrom:uppercase;
}
.contador-digito-texto{
     color:var(--cor-texto-secundaria);
     font-size:20px;
     margin:0;

}
.contador-digital-numerico{
     font_size:80px;
     margin:0;
}